#root {
  color: #fff !important;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body {
  background: #000 !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

footer {
  position: fixed;
  height: 60px;
  bottom: 0px;
  width: 100%;
  background: #333;
  padding: 15px;
  padding-left: 40px;
}

.main {
  width: 100%;
  height: 100%;
}

footer .left_section {
  display: flex;
  width: 20%;
}

footer .middle_section {
  display: flex;
  margin: auto;
  width: 50%;
  justify-content: center;
  margin-top: -42px;
}

footer .right_section {
  display: flex;
  margin: auto;
  width: 20%;
  float: right;
  padding-left: 13%;
  margin-top: -37px;
}

footer .icon {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

footer button {
  padding: 0 12px;
  margin: auto 0;
  background: none;
  border: none;
}

.font,
.icon {
  margin-top: -5px;
}

.font {
  padding-right: 15px;
}

footer input[type="text"] {
  width: 350px;
  font: inherit;
  height: 40px;
  padding: 0 .5em;
  border-radius: 7px;
  box-sizing: border-box;
  color:
#000;
border: 1px solid
  #999;
  margin: 0 0 0 12px;
}

.notice p {
  font-family: "Volter";
  font-size: 9px;
  margin-bottom: 0 !important;
  color: #9d9ca0;
}

.notice {
  margin-top: 10px;
}

canvas {
  position: absolute;
  margin-top: -800;
  margin-left: -600;
}

.top-bar {
  float: right;
  width: 100px;
  height: 50px;
  background-color:
  #1d1e21;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  border: 1px solid
  #19181c;
  border-radius: 5px;
  box-sizing: border-box;
  color:
  #eee;
  display: flex;
  z-index: 200;
}

button.bar_content {
  background: none;
  border: none;
  padding: 5px;
}

button.bar_content:hover {
  background-color:
  hsla(0,0%,100%,.1);
}

.bar_content {
  margin: auto;
  display: flex;
}

.bar_content img, .bar_content span {
  margin: auto 3px;
}
