body {
    background: #000 !important;
}

.dialog {
    position: absolute;
    left: 20px;
    right: 0;
    top: 70px;
    width: 230px;
    background: #ff3737;
    border: 4px groove #ff3737;
    box-sizing: content-box;
    text-align: center;
    z-index: 200;
    padding: 0;
    padding-top: 5px;
    font-family: 'Volter';
    font-size: 9px;
    margin: 0 auto;
}

.dialog h2 {
    font: inherit;
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: rgba(0,0,0,.6);
    margin-bottom: 5px;
}

.dialog .main_tab {
    cursor: pointer;
    width: 100%;
    font: inherit;
    background: linear-gradient(to bottom, #6b6b6b 0%, #6b6b6b 50%, #555555 51%, #555555 100%);
    height: 18px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    color: #ffffff;
    display: flex;
}

.dialog .main_tab.selected {
    background: linear-gradient(to bottom, #8adaff 0%, #8adaff 50%, #59bfff 51%, #59bfff 100%);
    color: #000000;
}

.dialog .main_tab.active {
    background: linear-gradient(to bottom, #ff9302 0%, #ff9302 50%, #ea8000 51%, #ea8000 100%);
}

.dialog .main_tab span {
    margin: auto 10px;
}

.dialog .main_tab button {
    border: none;
    background: none;
    margin: auto 0;
    padding: 0;
}

.dialog .main_tab button.open_arrow {
    width: 9px;
    height: 5px;
    background-image: url('/images/messenger/arrow_down_white.png');
}

.dialog .main_tab button.close_arrow {
    width: 5px;
    height: 9px;
    background-image: url('/images/messenger/arrow_right_white.png');
}

.dialog .main_tab.selected button.open_arrow {
    background-image: url('/images/messenger/arrow_down_black.png');
}

.dialog .main_tab.selected button.close_arrow {
    background-image: url('/images/messenger/arrow_right_black.png');
}

.dialog .wrapper {
    background-color: #ffffff;
    height: 230px;
    padding: 5px;
    padding-top: 15px;
    box-sizing: border-box;
    border-top: none;
    text-align: center;
}

.dialog .wrapper.search {
    background-color: #b6b6b6;
}

.dialog .wrapper.search button.second_tab {
    background: rgba(0, 0, 0, 0.1);
}

.dialog .wrapper button.second_tab {
    background: #eeeeee;
    width: 100%;
    text-align: left;
    font: inherit;
    height: 20px;
    border: none;
    font-weight: bold;
}

.dialog .wrapper .friends_container {
    overflow-y: scroll;
    height: 185px;
}

.dialog .wrapper .friend_list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dialog .wrapper .friend_list .friend {
    background: none;
    width: 100%;
    height: 20px;
    display: flex;
    font: inherit;
    color: #000000;
    overflow: hidden;
    cursor: pointer;
}

.dialog .wrapper .friend_list .friend:nth-child(even) {
    background: rgba(0, 0, 0, 0.1);
}

.dialog .wrapper .friend_list .friend:hover, .dialog .wrapper .friend_list .friend.selected {
    background: #8adaff;
}

.dialog .wrapper .friend_list .friend img {
    margin: auto 0;
    width: 20px;
    height: 20px;
    object-fit: none;
    object-position: 20% 60%;
}

.dialog .wrapper .friend_list .friend span {
    margin: auto 5px;
    width: 125px;
    text-align: left;
}

.dialog .wrapper .friend_list .friend .icons_container {
    display: flex;
    justify-content: flex-end;
}

.dialog .wrapper .friend_list .friend .icons_container button {
    border: none;
    background: none;
    margin: auto 0 auto 2px;
    padding: 0;
}

.dialog .wrapper .friend_list .friend .icons_container button.ask_for_friend {
    width: 16px;
    height: 15px;
    background-image: url('/images/messenger/ask_for_friend.png');
}

.dialog .wrapper .friend_list .friend .icons_container button.follow_friend {
    width: 16px;
    height: 15px;
    background-image: url('/images/messenger/follow_friend.png');
}

.dialog .wrapper .friend_list .friend .icons_container button.start_chat {
    width: 16px;
    height: 14px;
    background-image: url('/images/messenger/start_chat.png');
}

.dialog .wrapper .friend_list .friend .icons_container button.accept {
    width: 16px;
    height: 13px;
    background-image: url('/images/messenger/accept.png');
}

.dialog .wrapper .friend_list .friend .icons_container button.decline {
    width: 13px;
    height: 13px;
    background-image: url('/images/messenger/decline.png');
}

.dialog .wrapper .actions_container {
    margin-top: 5px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    height: 30px;
    border-radius: 5px;
    border: 1px solid #9a9a9a;
    display: flex;
    padding: 3px 5px;
    box-sizing: border-box;
}

.dialog .wrapper .actions_container.requests button {
    margin: auto;
    width: 45%;
}

.dialog .wrapper .actions_container.requests button span {
    margin: auto;
}

.dialog .wrapper .actions_container button {
    border: none;
    background: #ffffff;
    min-width: 30px;
    height: 23px;
    margin: auto 5px auto 0;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 3px;
    display: flex;
    font: inherit;
}

.dialog .wrapper .actions_container button img {
    margin: auto;
}

.dialog .wrapper .actions_container button:hover {
    background: #cccccc;
}

.dialog .wrapper .actions_container form {
    margin: auto;
    width: 100%;
    display: flex;
}

.dialog .wrapper .actions_container input {
    margin: auto;
    height: 20px;
    width: 130px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
    font: inherit;
    padding: 0 5px;
}

.dialog .wrapper .actions_container ::placeholder {
    color: #555555;
}

.dialog .wrapper .actions_container form button {
    margin: auto;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    height: 20px;
    width: 60px;
    padding: 0 8px;
    border-radius: 3px;
    font: inherit;
}

.dialog .wrapper .actions_container button:hover, .nav .wrapper .more_rooms button:hover {
    background-color: #cbcbcb;
}

.dialog .footer {
    width: 100%;
    display: flex;
    height: 40px;
}

.dialog button {
    background: #ffffff;
    font: inherit;
    width: 90px;
    height: 20px;
    border: 1px solid #000000;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    padding-top: 3px;
    padding-left: 14%;
}

.dialog button:active {
    background: #000;
    color: #fff;
}

.dialog button span, .dialog button img {
    margin: auto 5px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-top: 10px;
}

label{
    display: inline-block;
    clear: left;
    width: 50px;
    text-align: right;
    color: #000;
    font-weight: bold;
    margin-right: 10px;
}

input {
    display: inline-block;
    padding-left: 5px;
}

input[type="password"] {
    font-family: sans-serif;
    font-size: 7pt;
    width: 147px;
}

input:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dialog input {
    background: #fff;
    border: 1px solid #000;
}

.dialog {
    color: #000;
}

.dialog p {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
}